*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.Lista li{
    font-size: large;
    font-weight: 700;
    color: brown;
}

.Naslov{
    background-color: aquamarine;
    margin: 0%;

}

.Navigacija{
    background-color: blueviolet;
    width: 33.33vw;
    height:max-content;

    font-size: xx-large;
    text-align: center;


}


header{
    width:  100%;
    margin: 0;
    background-color: red;
    display: flex;
}

.MyPic{
    width: 250px;
    height: 250px;
    position: ;
    
}

nav{
    display: flex;
    align-items: center;    
    justify-content: space-between;
    flex-wrap: wrap;
}

nav a{
    text-decoration: none;
    font-size: 18px;
    position: relative;
    color: #fff;

}

nav a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav a:hover::after{
    width: 100%;
}
